In [1]:
import pandas as pd
import numpy as np
import statistics
%matplotlib inline

#List of the Brady Bunch kids

kids = ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Oliver']
#Empty Data Frame with named rows
df = pd.DataFrame(index=kids)

#adding columns
df['age'] = [14, 12, 11, 10, 8, 6, 8]
df

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [2]:
#find mean
np.mean(df['age'])

9.857142857142858

In [3]:
#find Median
np.median(df['age'])

10.0

In [4]:
#find mode
statistics.mode(df['age'])

8

In [5]:
#find Variance
np.var(df.age)

6.408163265306122

In [6]:
#Find Standard Deviation
np.std(df['age'], ddof=1)

2.734262327610589

In [7]:
#find standard Error
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192