In [1]:
import pandas as pd
import numpy as np
import statistics
%matplotlib inline

#List of the Brady Bunch kids

kids = ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Oliver']
#Empty Data Frame with named rows
df = pd.DataFrame(index=kids)

#adding columns
df['age'] = [14, 12, 11, 10, 8, 6, 8]
df

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [2]:
#find mean
np.mean(df['age'])

9.857142857142858

In [3]:
#find Median
np.median(df['age'])

10.0

In [4]:
#find mode
statistics.mode(df['age'])

8

In [5]:
#find Variance
np.var(df.age)

6.408163265306122

In [6]:
#Find Standard Deviation
np.std(df['age'], ddof=1)

2.734262327610589

In [7]:
#find standard Error
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192

In [8]:
# would just mean as my estimate of central tendency
#as it is the expected average age of each kid

In [9]:
'''I would choose the standard Error as my measure of variance
because it is low strengthening the calculation of the mean'''

'I would choose the standard Error as my measure of variance\nbecause it is low strengthening the calculation of the mean'

In [10]:
#List of the Brady Bunch kids

kids = ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Oliver']
#Empty Data Frame with named rows
df = pd.DataFrame(index=kids)

#changed Cindy's age from 6 to 7
df['age'] = [14, 12, 11, 10, 8, 7, 8]
df

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [13]:
df.describe()

             age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [15]:
'''The mean went up by 1 from 9 to 10.
The standard deviation went down from 2.7 to 2.5'''

#find standard Error
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

#find Variance
np.var(df.age)

5.428571428571429

In [16]:
'''The variance also went down by 1 from 5.4 to 5.4'''

#find standard Error
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

0.9511897312113418

In [17]:
'''The standard of error went down slightly as well'''

'The standard of error went down slightly as well'

In [19]:
#List of the Brady Bunch kids

#removed Oliver

kids = ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Jessica']
#Empty Data Frame with named rows
df = pd.DataFrame(index=kids)

#removed Oliver added Jessica
df['age'] = [14, 12, 11, 10, 8, 7, 1]
df

         age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [20]:
df.describe()

             age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [21]:
#find standard Error
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.6035674514745462

In [22]:
#find Variance
np.var(df.age)

15.428571428571429

In [23]:
#Find Standard Deviation
np.std(df['age'], ddof=1)

4.242640687119285

In [24]:
#find Median
np.median(df['age'])

10.0

In [25]:
'''I would still use mean for central tendency.
For Variance I would use standard deviation as it shows the
data having ouble the variability than when it was first calculated.'''

'I would still use mean for central tendency.\nFor Variance I would use standard deviation as it shows the\ndata having ouble the variability than when it was first calculated.'

In [28]:
(20+23+17+5) / 4

16.25

In [29]:
#16.25% is the averae of all the magazines, but
#SciPhi Phanatic is an outlier and isn't a good representation of
#the population therefore it needs to be omitted when averaged out

(20+23+17)/3

20.0

In [ ]:
#the average should be 20% of Americans like the Brady Bunch